* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Century Gothic";
}

.regresar {
  position: fixed;
  top: 90vh;
  left: 85%;
  font-weight: bold;
  text-align: right;
}

.regresar:hover {
  height: fit-content;
  background-color: #80add7;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
  margin: 0px auto;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

hr {
  width: 75%;
  margin: 10px auto;
  border: 2px solid #80add7;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 20px auto;
  width: 75%;
  border: 5px solid #80add7;
}

ul li {
  margin: 0 40px;
}

/*ESTILOS PARA EL ÁREA DE PÓLIZA*/
.consulta_nomina,
.consulta_cuenta,
.datos_cuenta,
.eliminar_cuenta,
.ultimos_pasos {
  border: 2px solid black;
  width: 50%;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;
}

.consulta_nomina:hover,
.consulta_cuenta:hover,
.datos_cuenta:hover,
.eliminar_cuenta:hover,
.ultimos_pasos:hover {
  background-color: #80add7;
  cursor: pointer;
}
/*FIN DE ESTILOS PARA EL ÁREA DE PÓLIZA*/
